*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	padding: 20px;
}

h1 {
	font-size: 1.75em;
	font-family: sans-serif;
	text-align: center;
	margin: 40px;
	
}

h2 {
	float: right;
	background-color: black;
	color: white;
	border: 2px solid white;
	padding: 4px;
}

p {
	font-size: 1.3em;
	font-family: serif;
	clear: both;

}

.chicken, .beef, .sushi{
	background-color: grey;
	border: 15px solid white;
	width: 100%;
	float: left;
	padding: 10px;
	}

@media (min-width: 1px){
	.chicken, .beef, .sushi{
		width: 100%;
	}
}



@media (min-width: 768px){
	.chicken, .beef{
		width: 50%;
	}
}

@media (min-width: 992px){
	.chicken, .beef, .sushi{
		width: 33.3%;
	}
}
